.context-menu {
    position: absolute;
    width: 200px;
    padding: 2px;
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(15px) scale(0.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu .menu-item {
    list-style: none;
}


.context-menu-show {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
}

.menu-item {
    margin: 0;
}

.menu-btn {
    display: block;
    width: 100%;
    padding: 6px 8px;
    font-size: 13px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #444;
    border-radius: 3px;

    &:hover {
        background: linear-gradient(to bottom, #5D6D79, #2E3940);
        color: #fff;
    }

    &.hover-danger {
        &:hover {
            color: #fff;
            background: linear-gradient(to right, #5D6D79, #5D6D79, #ce0f0f);
        }
    }
}

.menu-text {
    margin-left: 8px;
}

.menu-item-disabled {
    opacity: 0.5;
    pointer-events: none;

    .menu-btn {
        cursor: default;
    }
}

.menu-separator {
    margin: 7px 5px;
    height: 1px;
    border-bottom: 1px solid #fff;
    background-color: #aaa;
}