.toast {
    --fade-out-delay: 4.5s; // default fallback

    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    animation:
        slideDown 0.5s forwards,
        fadeOut 0.5s ease-in-out var(--fade-out-delay) forwards;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    &.toast-success {
        background-color: #4CAF50;
    }

    &.toast-error {
        background-color: #F44336;
    }
}

@keyframes slideDown {
    to {
        top: 50px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        top: -100px;
    }
}